@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

html {
    background-color: #9ce3edc3;
    font-size: 16px;
    font-family: 'Yatra One';
}

ul {
    background-color: #fbe081;
    border-radius: 1rem;
}

h1 {
    text-align: center;
    font-family: 'Bricolage Grotesque';
    font-size: 4rem;
    font-weight: bolder;
}

form {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.Form-enviar{
    border-radius: 50%;
    border: none;
    background-image: url("img/plus.svg");
    background-position: center;
    background-size: contain;
    min-width: 24px;
    aspect-ratio: 1;
}

#msg-vazio {
	font-size: 1.5rem;
	text-align: center;
	flex-grow: 1;
	align-content: center;
}

.Lista {
    list-style: none;

    margin: 0 auto;
    max-width: 1080px;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border: solid 1px black;
    box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.25);
}

.Lista-item {
    display: flex;
    border: solid 1px black;
    border-radius: 5px;
}

.Lista-checkbox {
    border: solid 1px black;
}

.Lista-texto {
    flex-grow: 1;
    font-size: 1.5rem;
}

.Lista-editar {
    border: none;
    background-color: transparent;
}

.Lista-remover {
    border: none;
    background-color: transparent;
}
